* {
	box-sizing: border-box;
}

body {
	overflow: scroll;
	font-family: 'Work Sans', sans-serif;
	
}

.wrapper {
	padding: 4%;
}

header{
	margin-top: 30vh;
	background-color: #1C2127;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}


section#personalImage {
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/35534/personal.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 80vh;
	width: 90vw;
	margin-top: -30vh;
}

#bio {
	color: #fff; 
	padding: 2%;
	line-height: 1.25;
}

#bio h2 {
	font-size: 1.5em;
}

#bio p {
	margin-bottom: 6%;
	line-height: 1.75;
}

.button {
	padding: 3%;
	width: 100%;
	background-color: #F9C226;
	border-radius: 50px;
	text-align: center;
}

.button a {
	color: #1C2127;
	text-decoration: none;
	text-transform: uppercase; 
}


.button:hover {
	background-color: #DC9A0B;
}

.card {
	border: 1px solid #EAEAEA;
	height: 50vh;
	width: 100%;
}

.card-active {
	border-top: 8px solid #F9C226;
}

.card h4 {
	font-size: 3em;
	margin: 4% 0;
}

.card .wrapper .button {
	margin-top: 7%;
}

.gallery {
	/*background-color: #1c2127;*/

}

.wrapper.flex-container {
	justify-content: center;
	flex-flow: row wrap;
}

.project {
	height: 50vh;
	width: 100%;
}

#accolade {
	background: url('../assets/accolade.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#benefit {
	background: url('../assets/benefit.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#brawny {
	background: url('../assets/brawny.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#flirtual {
	background: url('../assets/flirtual.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#mystic {
	background: url('../assets/mysticbaitball.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#taylormade {
	background: url('../assets/taylormade.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}



#doritos {
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/35534/doritos.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#amazon {
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/35534/amazon.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
